<% content_for :title, "Component audit" %>

<%= render 'govuk_publishing_components/components/title', title: "Components audit", margin_top: 0; %>

<strong>application_dirs:</strong> <%= @application_dirs %><br/>
<strong>gem_path:</strong> <%= @gem_path %><br/>
<strong>path:</strong> <%= @path %><br/>
<strong>host_dir:</strong> <%= @host_dir %><br/>

<p class="govuk-body">
  @in_application: <%= @in_application %><br/>
  @other_applications: <%= @other_applications %>
</p>

<% applications = capture do %>
  <%= render "applications" %>
<% end %>

<% components = capture do %>
  <%= render "components" %>
<% end %>

<% if @in_application or @other_applications %>
  <%= render "govuk_publishing_components/components/tabs", {
    tabs: [
      {
        id: "applications",
        label: "Applications",
        content: applications,
      },
      {
        id: "components-gem",
        label: "Components",
        content: components,
      }
    ]
  } %>
<% else %>
  <%= render "components" %>
<% end %>
